__pycache__/
*.egg-info/

prerequisites/
trained_agents/
rl_src/encoding_methods/
rl_src/experiments*
rl_src/plots/
rl_src/plots3/
rl_src/plots2/
rl_src/plots_*
stuff_for_processing/
measurements/
models_rl/
various_experimental_settings/
behavioral_cloning/
.rl_src_experimental/

.vscode
*.pkl

rl_src/compiled_models_vec_storm/
